.formContainer {
    display: flex;
    flex-direction: column;
}

.inputNumber {
    size: 30px;
    font-weight: 300;
}

.buttonSubmit {
    margin-top: 15px;
   border-radius: 30px;
   color: #FFFFFF;
   font-size: 20px;
   font-weight: 300;
   /* padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 1px;
   padding-left: 1px; */
   background-color: rgba(0, 0, 0, 0.1);
   border: solid #FFFFFF 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.buttonSubmit:hover {
   background-color: rgba(0, 0, 0, 0.3);
    border: solid #337FED 1px;
}